{% include 'header.html' %}
</aside>
<!-- end: sidebar -->

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Dashboard</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    
        <!-- ================================================= -->
        <!--                      Content                      -->
        <!-- ================================================= -->
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="sec-1 mt-30">
                        <h1>
                            Prediksi harga rumah USA
                        </h1>
                        <p class="sec-p1 mt-30">
                            Analisis nilai prediksi harga rumah di perumahan Kota New York kota terpadat di Amerika Serikat, dan pusat wilayah metropolitan New York menggunakan metode pendekatan data pasar yaitu perbandingan harga jual profesi sejenis
                        </p>
                        <div class="mt-30">
                            <strong>Note:</strong>
                        </div>
                        <p class="sec-p2">
                            besar kecilnya kurasi Harga properti bisa kembali normal bahkan meningkat dari tahun ke tahun
                        </p>
                    </div>
                </div>
            ##menampilkan gambar 
            <div class="row mt-30">
                <div class="col-6 col-lg-3 text-center helm">
                    <img src="images/helm1.png">
                    <div>Grafik 1</div>
                </div>
                 <div class="col-6 col-lg-3 text-center helm">
                    <img src="images/helm2.png">
                    <div>Grafik 2</div>
                </div>
                 <div class="col-6 col-lg-3 text-center helm">
                    <img src="images/helm3.png">
                    <div>Grafik 3</div>
                </div>
                 <div class="col-6 col-lg-3 text-center helm">
                    <img src="images/helm4.png">
                     <div>Grafik 4</div>
                </div>
            </div>


            <div class="row mt-30">
                <div class="col-12 text-center">
                    <div class="informasi">
                        Informasi
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-12">
                    <p>
                        informasi harga rumah yang sesuai dengan keadaan yang diharapkan. 
                        Penggunaan sistem khususnya pengusaha properti juga diharapkan mampu
                        menghasilkan harga rumah yang dapat menjadi acuan dalam menawarka
                        rumahnya kepada pembeli atau menjadi acuan juga pembeli atau inverstor dalam menawar rumah
                    </p>
                </div>
            </div>
#gambar rumah#
            <div class="row mt-30">
                <div class="col-6 col-lg-3 text-center helm">
                    <img src="images/helm1.png">
                    <div>Half Face Helmet</div>
                </div>
                 <div class="col-6 col-lg-3 text-center helm">
                    <img src="images/helm2.png">
                    <div>Full Face Helmet</div>
                </div>
                 <div class="col-6 col-lg-3 text-center helm">
                    <img src="images/helm3.png">
                    <div>Flip-Up Helmet</div>
                </div>
                 <div class="col-6 col-lg-3 text-center helm">
                    <img src="images/helm4.png">
                     <div>Modular Helmet</div>
                </div>
            </div>
            
        <!-- ================================================= -->
        <!--                      Footer                       -->
        <!-- ================================================= -->
        <div class="container-fluid">
            <div class="row footer">
                <div class="col-12 text-center align-self-center">
                    <a href="about-us.html">
                        ABOUT US
                    </a>
                    <hr>
                    <div class="bottom">
                       Prediksi harga rumah
                    </div>
                </div>
            </div>
        </div>



    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
