{% include 'header.html' %}
</aside>
<!-- end: sidebar -->

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Dashboard</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="col-xl-8">
        <h2><b>Halaman Beranda</b></h2>
        Selamat datang , ini adalah halaman utama pada website
    </div>

        <!-- ================================================= -->
        <!--                      Content                      -->
        <!-- ================================================= -->
        <div class="container about-us">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="sec-1 mt-30">
                        <p class="sec-p1 mt-30">
                            Memperkenalkan anggota kelompok kami sebagai pelopor aplikasi berbasis website prediksi rumah USA
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-50">
                <!-- data 1 -->
                <div class="col-12 col-lg-4 mt-20">
                    <div class="my-card">
                        <div class="head-card">
                            <div class="row">
                                <div class="col-10 align-self-center">
                                    <div>universitas Bina sarana informatika psdku kota tegal</div>
                                    <div>Visioner</div>
                                </div>
                                <div class="col-2 align-self-center text-end">
                                    <img class="card-logo" src="images/card-logo.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="content-card">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img class="card-user" src="images/user.jpg">
                                </div>
                                <div class="col-8 text-end">
                                    <div class="nama">
                                        kharir makhfudz
                                    </div>
                                    <div class="nim">
                                        (12191555)
                                    </div>
                                    <div class="sistem informasi">
                                        sistem informasi
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foot-card"></div>
                    </div>
                </div>
                <!-- data 2 -->
                <div class="col-12 col-lg-4 mt-20">
                    <div class="my-card">
                        <div class="head-card">
                            <div class="row">
                                <div class="col-10 align-self-center">
                                    <div>universitas Sekolah tinggi tehnologi wastukancancana</div>
                                    <div>persevere</div>
                                </div>
                                <div class="col-2 align-self-center text-end">
                                    <img class="card-logo" src="images/card-logo.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="content-card">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img class="card-user" src="images/user.jpg">
                                </div>
                                <div class="col-8 text-end">
                                    <div class="nama">
                                        Dikri Nur Abdillah
                                    </div>
                                    <div class="npm">
                                        (191351136)
                                    </div>
                                    <div class="jobdesc">
                                        Tehnik informatika
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foot-card"></div>
                    </div>
                </div>
                <!-- data 3 -->
                <div class="col-12 col-lg-4 mt-20">
                    <div class="my-card">
                        <div class="head-card">
                            <div class="row">
                                <div class="col-10 align-self-center">
                                    <div>universitas Diponegoro</div>
                                    <div>persevere</div>
                                </div>
                                <div class="col-2 align-self-center text-end">
                                    <img class="card-logo" src="images/card-logo.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="content-card">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img class="card-user" src="images/user.jpg">
                                </div>
                                <div class="col-8 text-end">
                                    <div class="nama">
                                        Ade Irvan Kurniawan
                                    </div>
                                    <div class="nim">
                                        (40040319650026)
                                    </div>
                                    <div class="jobdesc">
                                        Tehnologi Rekayasa Otomasi
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foot-card"></div>
                    </div>
                </div>
                <!-- data 4 -->
                <div class="col-12 col-lg-4 mt-20">
                    <div class="my-card">
                        <div class="head-card">
                            <div class="row">
                                <div class="col-10 align-self-center">
                                    <div>Universitas Bina Sarana Informatika jatiwaringin</div>
                                    <div>persevere</div>
                                </div>
                                <div class="col-2 align-self-center text-end">
                                    <img class="card-logo" src="images/card-logo.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="content-card">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img class="card-user" src="images/user.jpg">
                                </div>
                                <div class="col-8 text-end">
                                    <div class="nama">
                                        Trisari Gandania Zalukhu
                                    </div>
                                    <div class="nim">
                                        (17191179)
                                    </div>
                                    <div class="jobdesc">
                                        Tehnologi Informasi
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foot-card"></div>
                    </div>
                </div>
                <!-- data 5 -->
                <div class="col-12 col-lg-4 mt-20">
                    <div class="my-card">
                        <div class="head-card">
                            <div class="row">
                                <div class="col-10 align-self-center">
                                    <div>SMA</div>
                                    <div>Fantastic 5</div>
                                </div>
                                <div class="col-2 align-self-center text-end">
                                    <img class="card-logo" src="images/card-logo.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="content-card">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <img class="card-user" src="images/user.jpg">
                                </div>
                                <div class="col-8 text-end">
                                    <div class="nama">
                                        Mareta
                                    </div>
                                    <div class="npm">
                                        (33420413)
                                    </div>
                                    <div class="jobdesc">
                                        Market Research
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="foot-card"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ================================================= -->
        <!--                      Footer                       -->
        <!-- ================================================= -->
        <div class="container-fluid">
            <div class="row footer">
                <div class="col-12 text-center align-self-center">
                    <a href="about-us.html">
                        ABOUT US
                    </a>
                    <hr>
                    <div class="bottom">
                       Easy Helmet Detection
                    </div>
                </div>
            </div>
        </div>



    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% include 'footer.html' %}

		